# Jupyter
nbresult
colorama
ipdb
ipykernel

# ML
matplotlib
seaborn
numpy==1.26.4
pandas==2.2.1

scikit-learn==1.4.1.post1
python-dotenv==1.0.1
joblib

# Google
google-cloud-bigquery
google-cloud-storage

# API
fastapi==0.110.0
python-multipart
pytz
uvicorn

